<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>URL SHORTENER | dasx000</title>
  </head>
  <body>
    <div class="container">
      <h1>URL Shrinker</h1>
      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>

        <input
          required
          placeholder="FULL URL"
          type="url"
          name="fullUrl"
          id="fullUrl"
          class="form-control col mr-2"
        />
        <label for="shorturl" class="sr-only">Url</label>
        <input
          required
          placeholder="SHORT URL"
          type="text"
          name="shorturl"
          id="shorturl"
          class="form-control col mr-2"
        />
        <button class="btn btn-success" type="submit">Shrink</button>
      </form>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Short URL</th>
            <th>Clicks</th>
            <th>Copy</th>
            <th>Full URL</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i= 0; i < shortUrls.length; i++) {%>
          <tr>
            <td>
              <input
                hidden
                type="text"
                value="<%- baseUrl + shortUrls[shortUrls.length-i-1].short %>"
                id="myInput"
              />

              <a
                id="copyUrl"
                href="<%- shortUrls[shortUrls.length-i-1].short %>"
                target="_blank"
                ><%- shortUrls[shortUrls.length-i-1].short %></a
              >
            </td>
            <td><%- shortUrls[shortUrls.length-i-1].clicks %></td>
            <td>
              <button class="btn btn-primary" onclick="copyToClipBoard()">
                Copy
              </button>
            </td>
            <td>
              <a
                href="<%- shortUrls[shortUrls.length-i-1].full %>"
                target="_blank"
                ><%- shortUrls[shortUrls.length-i-1].full %></a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <script>
      function copyToClipBoard() {
        // Get the text field
        var copyText = document.getElementById('myInput');

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        alert('Copied the text: ' + copyText.value);
      }
    </script>
  </body>
</html>
